body {
	font-family: "Arial", serif;
}

.teamInfo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1;
}

.qualificationScore {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1;
}

.submit {
	grid-row:1;
	grid-column: 2/2;
}

input {
	font-family: "Arial", serif;
}

h5{
	margin: 0;
}



